{% include "navbar.html" %}

<div class="container">

    <div>

        <h1 class="text-center display-4">Labor</h1>

        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}

        <button type="button" class="btn btn-outline-info"><a href="{% url 'bikes:add_labor' %}">Add Labor</a></button>
    </div>
    <br>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="labor-header">
                <tr class="d-flex">
                    <th scope="col" class="col-2">Date</th>
                    <th scope="col" class="col-4">Notes</th>
                    <th scope="col" class="col-2">Time Worked</th>
                    <th scope="col" class="col-2">Pay Rate</th>
                    <th scope="col" class="col-2">Bike</th>
                </tr>
            </thead>
            <tbody>
                {% for labor in labor_list %}
                <tr class="d-flex">
                    <td  class="col-2">{{ labor.date }}</td>
                    <td  class="col-4">{{ labor.notes }}</td>
                    <td  class="col-2">{{ labor.time }} hrs.</td>
                    <td  class="col-2">${{ labor.rate_of_pay }}</td>
                    <td  class="col-2"><a href="{% url 'bikes:bike_detail' pk=labor.bike.id %}">{{ labor.bike.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>