{% include "navbar.html" %}

<div class="container">
    <div>
        <div class="dash-header">
            <button type="button" class="btn btn-outline-info back-btn"><a href="{% url 'bikes:todo_list' %}"><i
                class="fas fa-chevron-left"></i> Back</a></button>
            <h1 class="text-center display-4" style="margin-right: 135px;">To Do List for Sold Bikes</h1>
            <hr class="mt-0 mb-4">
        </div>

        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}
    </div>
    <br>



    {% for bike in bike_list %}
    {% if bike.status_id == 1 %}
    <h2>{{ bike.name }}</h2>
    <div class="row">
        {% for todo in bike.todo_set.all %}
        <div class="col-sm-12 col-md-4 col-lg-4 to-do-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ todo.title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted text-center">{{ todo.date }}</h6>
                    <p>{{ todo.notes }}</p>
                    {% if todo.is_completed == True %}
                    <p>Completed!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}
    {% endfor %}
    <br>
</div>