{% include "../navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="utf-8">
    <title>Add Bike</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="dash-header">
                <h1 class="text-center display-4">Add New Bike!</h1>
                <hr class="mt-0 mb-4">
            </div>
            <form action="{% url 'bikes:add_bike'%}" id="bikeForm" method="post"
                data_models_url="{% url 'bikes:ajax_load_models' %}" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ bike_form|crispy }}
                    <button type="submit" class="btn btn-success">Save Bike</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "../footer.html" %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>

