{% include "navbar.html" %}

<div class="container">
    <div class="dash-header">
        <button type="button" class="btn btn-outline-info back-btn"><a href="{% url 'bikes:bike_list' 4 %}"><i class="fas fa-chevron-left"></i> Back</a></button>
        <h1 class="text-center display-4" style="display: inline-block;">{{ bike.name }}</h1>
        <hr class="mt-0 mb-4">
    </div>

    <div class="btn-group btn-detail-group" role="group" aria-label="Basic example">
        {% if bike.status.name != "Sold" %}
        <button type="button" class="btn btn-secondary"><a href="{% url 'bikes:edit_bike' pk=bike.id %}">Edit</a></button>
        <div class="vertical-line"></div>
        <button type="button" class="btn btn-secondary"><a href="{% url 'bikes:add_labor' %}">Record work</a></button>
            {% endif %}
            {% if bike.status.name == "Listed" %}
        <div class="vertical-line"></div>
        <button type="button" class="btn btn-secondary"><a href="{% url 'bikes:sell_bike' pk=bike.id %}">Mark as
            sold</a></button>
            {% endif %}
            {% if bike.status.name == "In Process" %}
        <div class="vertical-line"></div>
        <button type="button" class="btn btn-secondary"><a href="{% url 'bikes:list_bike_for_sale' pk=bike.id %}">List
            Bike for Sale</a></button>
        {% endif %}
    </div>

    {% for message in messages %}
    <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
    <hr>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-7 text-center">
            <img src="/media/{{ bike.document }}" alt="image of bike" class="bike_image img-fluid img-thumbnail">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 text-center">
            <div class="card mx-auto" style="width: 22rem;">
                <ul class="list-group text-center">
                    <li class="list-group-item list-group-item-detail">Bike Specs</li>
                    <li class="list-group-item">Brand: {{ bike.brand.name }}</li>
                    <li class="list-group-item">Model: {{ bike.bikemodel.name }}</li>
                    <li class="list-group-item">Year: {{ bike.year }}</li>
                    <li class="list-group-item">Description: {{ bike.description }}</li>
                </ul>
            </div>
            <br>
            <div class="card mx-auto" style="width: 22rem;">
                <ul class="list-group text-center">
                    <li class="list-group-item list-group-item-detail">Bike Details</li>
                    <li class="list-group-item">Added: {{ bike.created_at }}</li>
                    <li class="list-group-item">Purchase Price: ${{ bike.purchase_price }}</li>
                    <li class="list-group-item">Purchase Date: {{ bike.purchase_date }}</li>
                    <li class="list-group-item">Current Status: {{ bike.status.name }}</li>
                    <li class="list-group-item">Condition: {{ bike.condition.name }}</li>
                    {% if bike.status.name == "Sold" %}
                    <li class="list-group-item">List Price: ${{ bike.list_price }}</li>
                    <li class="list-group-item">Sale Price: ${{ bike.sale_price }}</li>
                    <li class="list-group-item">Sale Date: {{ bike.sale_date }}</li>
                    {% elif bike.status.name == "Listed" %}
                    <li class="list-group-item">List Price: ${{ bike.list_price }}</li>
                    {% endif %}
                </ul>
            </div>
            <br>
        </div>
    </div>

    {% if bike.part_set.all %}
    <div class="bike-detail-parts">
        <div class="text-center">

            <h4>Parts currently on your {{ bike.name }}</h4>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url 'bikes:add_part' %}"
                    class="secondary_link">Add a part to {{ bike.name }}</a></button>
        </div>
        <br>
        <div class="row">
            {% for part in bike.part_set.all %}
            <div class="col-sm-2 col-md-2 col-lg-1">

                <img src="/media/{{ part.document }}" alt="image of part" class="part_list_image">
            </div>
            <div class="col-sm-10 col-md-10 col-lg-11">
                <h3><a href="{% url 'bikes:part_detail' pk=part.id %}">{{ part.name|title }}</a></h3>
                {% if part.part_make and part.part_model %}
                <p>{{ part.part_make }} | {{ part.part_model }}</p>
                {% elif part.bikemodel_id and part.brand_id %}
                <p>{{ part.brand.name }} | {{ part.bikemodel.name }}</p>
                {% endif %}
                <p>Purchased for ${{ part.purchase_price }} | {{ part.notes }}</p>
                <button type="button" class="btn btn-outline-secondary"><a href="{% url 'bikes:remove_part_from_bike' pk=part.id %}" class="secondary_link">Remove part from bike</a></button>
                <hr />
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if bike.labor_set.all %}
    <div>
        <div class="text-center">
            <h4>{{ bike.name }} Labor Report</h4>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url 'bikes:add_labor' %}"
                    class="secondary_link">Record work on {{ bike.name }}</a></button>
        </div>
        <br>
        <div class="card mx-auto" style="width: 18rem;">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-info">Total labor spent so far</li>
                <li class="list-group-item">Total Invested: ${{ total_labor }}</li>
                <li class="list-group-item">Total Time: {{ total_time }} hours</li>
            </ul>
        </div>
        <br>
        <h5 class="text-center">Itemized Labor</h5>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="labor-header">
                    <tr class="d-flex">
                        <th scope="col" class="col-2">Date</th>
                        <th scope="col" class="col-6">Notes</th>
                        <th scope="col" class="col-2">Time Worked</th>
                        <th scope="col" class="col-1">Pay Rate</th>
                        <th scope="col" class="col-1">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for labor in labor_list %}
                    <tr class="d-flex">
                        <td class="col-2">{{ labor.date }}</td>
                        <td class="col-6">{{ labor.notes }}</td>
                        <td class="col-2">{{ labor.time }} hrs.</td>
                        <td class="col-1">${{ labor.rate_of_pay }}</td>
                        <td class="col-1">${{ labor.get_total_for_each_labor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <br>
    {% endif %}
</div>