{% load static %}
{% include "navbar.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="dash-header">
            <h1 class="text-center display-4">You're ready to list the {{ bike.name }} for sale!</h1>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <form action="{% url 'bikes:list_bike_for_sale' bike.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="list_price">List Price</label>
                    <input type="text" class="form-control" name="list_price" />
                </div>
                <div>
                    <a href="{% url 'bikes:bike_list' 4 %}">
                        <button type="button" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i> Back</button>
                    </a>
                    <button type="submit" class="btn btn-outline-secondary">Save</button>
                </div>
            </form>
        </div>
        <div class="col-7">
            <div class="card mx-auto" style="width: 22rem;">
                <ul class="list-group text-center">
                    <li class="list-group-item list-group-item-detail">Break-even Price: ${{ break_even_price }}</li>
                    <li class="list-group-item">Purchase Price: ${{ bike.purchase_price }}</li>
                    <li class="list-group-item">Labor invested: ${{ total_labor }}</li>
                    <li class="list-group-item">Part total investment: ${{ part_sum }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>