{% include "navbar.html" %}

<div class="container">

    <div>
        <div class="dash-header">
            <h1 class="text-center display-4">Your bikes</h1>
        </div>
        
        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}

        {% block content %}
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link active" href="{% url 'bikes:bike_list' %}">All Bikes <span class="badge badge-light-active">{{ all_bike_count }}</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'bikes:sold_list' %}">Sold Bikes <span class="badge badge-light">{{ sold_bikes }}</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'bikes:listed_list' %}">Listed Bikes <span class="badge badge-light">{{ listed_bikes }}</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'bikes:process_list' %}">Bikes in Process <span class="badge badge-light">{{ in_process_bikes }}</span></a>
            </li>
        </ul>
        {% endblock %}

    </div>
    <br>
    <div class="row">
        {% for bike in bike_list %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            {% if bike.status.name == "Sold" %}
            <div class="card text-center border-success">
                {% elif bike.status.name == "Listed" %}
                <div class="card text-center border-info">
                    {% else %}
                    <div class="card text-center border-secondary">
                        {% endif %}
                        <div class="card-header list-header">
                            <h3><a href="{% url 'bikes:bike_detail' pk=bike.id %}">{{ bike.name }}</a></h3>
                        </div>
                        <div class="card-body">
                            <img class="card-img-left bike_list_img" src="/media/{{ bike.document }}"
                                alt="image of {{ bike.name }}">
                            <h5 class="card-title">{{ bike.brand.name }}</h5>
                            <p class="card-text"> {{ bike.bikemodel.name }}</p>
                            <a href="{% url 'bikes:bike_detail' pk=bike.id %}"
                                class="btn btn-outline-secondary">Details</a>
                        </div>

                        {% if bike.status.name == "Sold" %}
                        <div class="card-footer list-footer text-white bg-success">
                            {{ bike.status.name }}
                        </div>
                        {% elif bike.status.name == "Listed" %}
                        <div class="card-footer list-footer text-white bg-info">
                            {{ bike.status.name }}
                        </div>
                        {% else %}
                        <div class="card-footer list-footer text-white bg-secondary">
                            {{ bike.status.name }}
                        </div>
                        {% endif %}
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>

        </div>