{% load crispy_forms_tags %}
{% include "navbar.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">

            <div class="dash-header">
                <h1 class="text-center display-4">Add New Bike Brand/Manufacturer</h1>
                <hr class="mt-0 mb-4">
            </div>

            <form action="{% url 'bikes:add_brand'%}" method="post">
                {% csrf_token %}
                {{ brand_form|crispy }}
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>

{% include "../footer.html" %}