{% include "navbar.html" %}

<div class="container">
    <div>
        <div class="dash-header">
            <h1 class="text-center display-4">Bike Brands & Manufacturers</h1>
            <hr class="mt-0 mb-4">
        </div>

        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}

        <button type="button" class="btn btn-outline-info"><a href="{% url 'bikes:add_brand' %}">Add New
                Brand</a></button>
    </div>
    <br>

    <div class="table-responsive brand-table">
        <table class="table table-hover">
            <thead class="labor-header">
                <tr class="d-flex">
                    <th scope="col" class="col-2">Brand</th>
                    <th scope="col" class="col-2">Location</th>
                    <th scope="col" class="col-8">Models</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in bike_brand_list %}
                <tr class="d-flex">
                    <td class="col-2">{{ brand.name }} <br><a href="{% url 'bikes:edit_brand' pk=brand.id %}" class="card-link">Edit</a></td>
                    <td class="col-2">{{ brand.location }}</td>
                    <td class="col-8">
                        <a href="{% url 'bikes:add_bike_model' pk=brand.id %}" class="card-link">Add Model</a>
                        {% for model in bike_model_list %}
                        {% if model.brand_id == brand.id %}
                        <ul>
                            <li>{{ model.name }}</li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</div>