<!-- Footer -->
<footer>

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5 footer-content-section">
                <div class="mb-2 flex-center">
                    <!-- Github -->
                    <a class="footer-icon text-center" href="https://github.com/kimberly-bird/bike_dash_app" target="_blank" data-toggle="tooltip" data-placement="bottom"
                    title="Github">
                        <i class="fab fa-github fa-3x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="footer-icon" href="https://www.linkedin.com/in/kimberly-j-bird/" target="_blank" data-toggle="tooltip" data-placement="bottom"
                    title="LinkedIn">
                        <i class="fab fa-linkedin-in fa-3x"> </i>
                    </a>
                    <!--Email-->
                    <a class="footer-icon" href="mailto:kimberly.j.bird@gmail.com" target="_blank" data-toggle="tooltip" data-placement="bottom"
                    title="Email">
                        <i class="fas fa-envelope fa-3x"> </i>
                    </a>
                    <!--Website-->
                    <a class="footer-icon" href="https://www.kimberlybird.me/" target="_blank" data-toggle="tooltip" data-placement="bottom"
                    title="Website">
                        <i class="fas fa-link fa-3x"> </i>
                    </a>
                </div>
                <p class="mb-0">Bike Dash is an app to track bike inventory, labor, & sales.</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kimberly Bird</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>