<!DOCTYPE html>
<html>
    <head>
        <title>Bike Dash</title>
    </head>

    <body>
        {% include "navbar.html" %}
        
        <h1>Login to Bike Dash</h1>

        <form id="login_form" method="post" action="{% url 'bikes:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        {% include "footer.html" %}
    </body>
</html>