{% load static %}

<head>
    <meta charset="utf-8">
    <title>Bike Dash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
</head>

<nav class="navbar navbar-expand-lg" style="background-color: #01579b">
    <a class="navbar-brand" href="{% url 'bikes:bike_list' %}">
        <img src="{% static '/images/bike_dash_logo.png' %}" width="60" height="60" alt="bike_logo" class="nav_bike_img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'bikes:bike_list' %}">My Bikes</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'bikes:brand_list' %}">Brand List</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'bikes:logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'bikes:register' %}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'bikes:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

