{% include "navbar.html" %}

<div class="container">
    <h1>{{ part.name }}</h1>
    
    {% for message in messages %}
    <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
    <hr>
    {% endfor %}
    
    <div>
        <p><a href="{% url 'bikes:edit_part' pk=part.id %}">Edit Part</a></p>

        <p>Part: {{ part.name }}</p>

        {% if part.bike.name %}
        <h4>Currently on your <a href="{% url 'bikes:bike_detail' pk=part.bike.id %}">{{ part.bike.name }}
        </a></h4>
        {% endif %}
    </div>
</div>