{% include "navbar.html" %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 text-center">Edit Bike Part</h1>
            <hr class="mt-0 mb-4">
            <form action="{% url 'bikes:edit_part' pk %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ part_form|crispy }}
                    <button type="submit" class="btn btn-success">Save Part</button>
                </div>
            </form>
        </div>
    </div>
</div>