{% include "navbar.html" %}

<div class="container">

    <div>
        <div class="dash-header">
            <h1 class="text-center display-4">All your bike parts</h1>
            <hr class="mt-0 mb-4">
        </div>

        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}

        <button type="button" class="btn btn-outline-info"><a href="{% url 'bikes:add_part' %}">Add New
                Part</a></button>
    </div>
    <br>

    <div class="parttype-container">
        <div class="row">
            {% for parttype in parttypes %}
            <div class="col-sm-12 col-md-12 col-lg-4">
                <img src="../../static/images/{{ parttype.id }}_pt.jpg" alt="image of {{ parttype.name }}"
                    class="parttype-img rounded">
                <p><a href="{% url 'bikes:parttype_list' pk=parttype.id %}"
                        class="centered-text text-dark">{{ parttype.name }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>