{% include "navbar.html" %}

<div class="container">

    <div>

        <h1>All your bike parts</h1>

        {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
        <hr>
        {% endfor %}

        <button type="button" class="btn btn-outline-info"><a href="{% url 'bikes:add_part' %}">Add New
                Part</a></button>
    </div>
    <br>

    <div class="parttype-container">
        <div class="row">
            {% for parttype in parttypes %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail">
                    <img src="../../static/images/{{ parttype.id }}_pt.jpg" alt="image of {{ parttype.name }}"
                    class="parttype-img">
                    <p><a href="{% url 'bikes:parttype_list' pk=parttype.id %}" class="centered-text">{{ parttype.name }}</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>