{% include "navbar.html" %}

<h1 class="text-center">All your bike parts</h1>

{% for message in messages %}
<div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
<hr>
{% endfor %}

<a href="{% url 'bikes:add_part' %}"><p class="text-center">Add New Part</p></a>

<div class="container">
    {% for part in part_list %}

    <h3><a href="#">{{ part.name }}</a></h3>
    
    {% if part.bike.name %}
    <h4>Currently on your <a href="{% url 'bikes:bike_detail' pk=part.bike.id %}">{{ part.bike.name }}
    </a></h4>
    {% endif %}
    
    {% if part.bike.brand.id %}
    <p>Brand: {{ part.bike.brand.name }}</p>
    <p>Model: {{ part.bike.bikemodel.name }}</p>
    {% endif %}
    
    {% if part.part_make %}
    <p>Make: {{ part.part_make }}</p>
    {% endif %}
    
    {% if part.part_model %}
    <p>Model: {{ part.part_model }}</p>
    {% endif %}
    
    <hr class="mt-0 mb-4">
    {% endfor %}
</div>