{% include "navbar.html" %}

<div class="container">
    <div>
        <div class="dash-header">
            <h1 class="text-center display-4">{{ parttype.name|title }} Parts</h1>
            <hr class="mt-0 mb-4">
        </div>

        <button type="button" class="btn btn-outline-info"><a href="{% url 'bikes:add_part' %}">Add New
                Part</a></button>
        <button type="button" class="btn btn-outline-secondary"><a class="secondary_link"
                href="{% url 'bikes:part_list' %}">Back</a></button>
    </div>
    <br>

    <div class="row">

        {% for part in part_list %}
        <div class="col-sm-2 col-md-2 col-lg-1">

            <img src="/media/{{ part.document }}" alt="image of part" class="part_list_image">
        </div>
        <div class="col-sm-10 col-md-10 col-lg-11">
            <h3><a href="{% url 'bikes:part_detail' pk=part.id %}">{{ part.name|title }}</a></h3>


            {% if part.bike.name %}
            <h6 class="text-muted">Currently on your <a
                    href="{% url 'bikes:bike_detail' pk=part.bike.id %}">{{ part.bike.name }}
                </a></h6>
            {% endif %}

            <p>Purchased for ${{ part.purchase_price }}</p>
            <hr />
        </div>
        {% endfor %}
    </div>
</div>