{% include "navbar.html" %}

<div class="container">

    <div class="dash-header">
        <button type="button" class="btn btn-outline-secondary back-btn"><a class="secondary_link"
                href="{% url 'bikes:part_list' %}"><i class="fas fa-chevron-left"></i> Back</a></button>
        <button type="button" class="btn btn-outline-info back-btn"><a href="{% url 'bikes:add_part' %}">Add New
                Part</a></button>
        <h1 class="text-center display-4" style="display: inline-block; margin-right: 150px;">Search Results</h1>
        <hr class="mt-0 mb-4">

        {% include "parts/search_form.html" %}
    </div>

    <div class="row">
        <div class="col">
            {% if no_results %}
            <h6>There are no search results for {{ search_text }}</h6>
            {% else %}

            <h4>{{ length }} results for {{ search_text }}</h4>
            <br>
            {% endif %}
        </div>
    </div>

    <div class="list-group align-items-center">
        {% for part in results %}
        <div class="list-group-item list-group-item flex-column align-items-start" style="width: 35em;">
            <div class="row">
                <div class="col-4">
                    <img src="/media/{{ part.document }}" alt="image of part" class="part_list_image">
                </div>
                <div class="col-8">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><a href="{% url 'bikes:part_detail' pk=part.id %}">{{ part.name|title }}</a>
                        </h5>
                    </div>
                    {% if part.bike.name %}
                    <p class="mb-2">Currently on your <a
                            href="{% url 'bikes:bike_detail' pk=part.bike.id %}">{{ part.bike.name }}</a></p>
                    {% endif %}
                    <small>Purchased for ${{ part.purchase_price }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

{% include "../footer.html" %}